@import "./../../assets/style/varibles/varibles.scss";
@import "./../../assets/style/mixins/mixin.scss";

.wishlist {
  width: 100%;
  min-height: 100vh;
  background-color: lightblue;
  .containerr {
    width: 70%;
    padding: 90px;
    font-family: "Muli";
    .menu-sect-intro {
      @include d-f(center, center);
      flex-direction: column;
      gap: 10px;
      span {
        color: $text-color;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 30px;
      }
      h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 70px;
      }
    }

    .box-wrapper {
      margin-top: 50px;
      width: 100%;
      .box {
        padding: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @include d-f(space-between, center);
        .img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .content {
          @include d-f(start, center);
          gap: 20px;
          flex-direction: column;
        }
        .buttons {
          @include d-f(start, center);
          gap: 20px;
          flex-direction: column;

          .functional-btn {
            @include d-f(center, center);
            gap: 10px;
          }
        }
      }
    }
  }
}
